<div class="navbar">
    <div class="nav-left">
        <a href="/" class="brand">SangamStore</a>
        <a href="/">Home</a>
        <a href="/cart/"> Cart ({{ cart_count }}) </a>
        <form method="GET" action="/" class="search-box">
            <input type="text" name="q" placeholder="Search products..." value="{{ query|default:'' }}">
            <button type="submit" class="search-icon"> 🔎 </button>
        </form>
    </div>

    <div class="nav-right">
        {% if user.is_authenticated %}
            <span class="welcome-user">
                Welcome, {{ user.first_name|default:user.username }}
            </span>

            <a href="/my-orders/"> My Orders </a>

            <div class="profile-dropdown">
                <div id="profileMenu" class="profile-menu">
                    <a href="{% url 'profile' %}"> My Profile </a>
                    <a href="{% url 'logout' %}"> Logout </a>
                </div>
            </div>

        {% else %}

            <a href="{% url 'login' %}"> Login </a>
            <a href="{% url 'register' %}"> Register </a>
        {% endif %}
    </div>
</div>

{% if categories %}

<div class="category-bar">
    <a href="/" class="category-btn {% if not selected_category %}active-category{% endif %}"> All </a>
    {% for category in categories %}
    <a href="/?category={{ category.id }}" class="category-btn {% if selected_category == category.id|stringformat:'s' %}active-category{% endif %}"> {{ category.name }} </a>
    {% endfor %}
</div>
{% endif %}
