<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
</head>
<body>
    {% include 'includes/navbar.html' %}
    <div class="main-content">
        <div class="success-container">
            <h1>🎉 Order Placed Successfully!</h1>

            <p>Thank you for shopping with us.</p>

            <a href="{% url 'home' %}" class="home-btn">
                Back to Home
            </a>
        </div>
    </div>
<div class="footer">
    © 2026 SangamStore | Built with Django by Sangam Yadav
</div>

{% load static %}

<script src="{% static 'store/js/main.js' %}"></script>
<script src="{% static 'store/js/navbar.js' %}"></script>

</body>
</html>