<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
</head>

<body>
    {% include 'includes/navbar.html' %}
<div class="main-content">
<h1>Select Payment Method</h1>

<div class="container">

    <div class="card">

        <form method="post">

            {% csrf_token %}

            <p>
                <input type="radio" name="payment" value="cod" required>
                Cash on Delivery
            </p>

            <p>
                <input type="radio" name="payment" value="upi">
                UPI
            </p>

            <p>
                <input type="radio" name="payment" value="card">
                Credit/Debit Card
            </p>

            <button class="btn" type="submit">
                Pay Now
            </button>

        </form>

    </div>

</div>
</div>

<div class="footer">
    © 2026 SangamStore | Built with Django by Sangam Yadav
</div>

{% load static %}

<script src="{% static 'store/js/main.js' %}"></script>
<script src="{% static 'store/js/navbar.js' %}"></script>

</body>
</html>